---
const currentYear = new Date().getFullYear();
---

<footer class="w-full max-w-7xl mx-auto px-6 py-8 mt-12 border-t border-[#8b5cf6]/50 grid grid-cols-1 md:grid-cols-3 items-center gap-6 bg-transparent">
    <div class="flex justify-center md:justify-start">
        <a href="/" aria-label="Home">
            <img src="/assets/images/KEVIN.png" alt="KEVN Logo" class="h-7 w-auto" />
        </a>
    </div>

    <div class="flex justify-center text-center">
        <p class="text-gray-400 text-sm whitespace-nowrap">
            &copy; {currentYear} Kevin. All rights reserved.
        </p>
    </div>


</footer>